<form class="login" method="post" action="/login">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Email" />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Your password here" />
    <input type="submit" value="Login">
</form>

<% content_for :scripts do %>
    <script type="text/javascript">
    </script>
<% end %>
