/* ==========================================================================
   Admin Home Page
   ========================================================================== */

#map-canvas {
    width: 100%;
    padding: 50px;
    height: 100%;
    min-height: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#mini-map {
    float: right;
    width: 400px;
    height: 200px;
}
.full-editor {
    padding: 10px;
}
.clickable {
    cursor: pointer;
}
.angular-google-map-container {
    height: 400px;
}
.infowindow {
    min-height: 150px;
}
.data-label {
    margin-right: 10px;
}
.mini-stop-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
}
.stop-preview {
    text-align: center;
}
.stop-preview-image {
    max-width: 100%;
    max-height: 70px;
    display: inline-block;
}
.mini-gallery {
    max-width: 75px;
    max-height: 75px;
}
.contained {
    max-width: 100%;
    max-height: 100%;
}
.category-image {
    max-width: 25px;
    max-height: 25px;
}