<div class="side-bar">
    <section class="sidebar-content" data-bind="visible: showLoadingPage">Loading...</section>
    <section class="sidebar-content" data-bind="visible: managingTours, with: tourContainer">
        <div data-bind="visible: $root.showTourList">
            <h1>My Tours</h1>
            <div data-bind="foreach: tours">
                <div class="entry">
                    <span data-bind="text: name, click: load"></span><br />
                    <a href="#" data-bind="click: edit">edit</a> - <a href="#" data-bind="click: deleteTour">delete</a>
                </div>
            </div>
            <div class="entry" data-bind="click: createNewTour">
                Create a new Tour
            </div>
            <div class="entry" data-bind="click: $root.manageStops">
                Manage Stops
            </div>
        </div>
        <div data-bind="with: focusedTour">
            <div data-bind="visible: $root.showViewTourPage">
                <h1 data-bind="text: name"></h1>
                <a href="#" data-bind="click: cancelFocus">go back</a> - <a href="#" data-bind="click: edit">edit</a>
                <p class="entry" data-bind="text: description"></p>
                <p class="entry">This tour is <span data-bind="text: visibilityText"></span>.</p>
            </div>
            <div data-bind="visible: $root.showEditTourPage">
                <h1 data-bind="text: newName"></h1>
                <a href="#" data-bind="click: cancelFocus">go back</a>
                <p class="entry">
                    <label>Tour Name: <input type="text" data-bind="value: newName, valueUpdate: 'afterkeydown'" /></label>
                </p>
                <p class="entry">
                    Description: <br />
                    <textarea data-bind="value: newDescription"></textarea>
                </p>
                <p class="entry">
                    <label> <input type="checkbox" data-bind="checked: newVisibilty">Visible</label>
                </p>
                <p class="entry">
                    Stops: 
                    <ul class="stop-sort-list" data-bind="sortable: newStops">
                        <li> <a href="#" class="delete-link" data-bind="click: $parent.detachStop">remove</a> <span data-bind="text: name, click: $parent.centerOnStop"></span></li>
                    </ul>
                </p>
                <p class="entry">
                    New Stop: <br />
                    <select data-bind="options: $parent.availableStops, optionsCaption: 'Add a new stop', optionsText: 'name', value: newStop"></select><br />
                    <button data-bind="click: addNewStop">Add New Stop</button>
                </p>
                <p class="entry">
                    <a href="#" data-bind="disable: disableSave, text: tourUpdateText, click: saveTour"></a>
                <p>
            </div>
         </div>
    </section>
    <section class="sidebar-content" data-bind="visible: managingStops">
        <div data-bind="with: stopContainer">
            <h1 data-bind="click: $root.manageTours">Go Home</h1>
            <div class="entry" data-bind="click: findStops">Find More Stops</div>
            <div class="entry" data-bind="click: createNewStop">Create New Stop</div>
        </div>
    </section>
</div>

<div class="full-pane">
    <div id="map-canvas"></div>
</div>

<div class="full-pane full-editor" data-bind="visible: managingStops, with: stopContainer">
    <div class="stop-container" data-bind="visible: $root.showStopList">
        <h2>My Stops</h2>
        <div data-bind="foreach: stops">
            <div class="entry">
                <span data-bind="text: name"></span><br />
                <a href="#" data-bind="click: edit">edit</a> - <a href="#" data-bind="click: deleteStop">delete</a>
            </div>
        </div>
    </div>
    <div data-bind="visible: $root.showEditStopPage, with: focusedStop">
        <h1 data-bind="text: newName"></h1>
        <a href="#" data-bind="click: cancelFocus">cancel</a>
        <h2>Options</h2>
        <p class="entry">
            <label>Name: <br /><input type="text" data-bind="value: newName" /></label>
        </p>
        <p class="entry">
            <label>Description: <br /><textarea data-bind="value: newDescription" /></textarea>
        </p>
        <h2>Location:</h2>
        <hr />
        <div id="mini-map"></div>
        <label>Where is your stop? <br /><input type="text" data-bind="value: newAddress, valueUpdate: 'afterkeydown'" /></label><br />
        <button data-bind="click: geolocate">Place On Map</button><br />
        <button data-bind="click: saveStop">Save</button>
    </div>
</div>
<div style="display: none">
    <div id="hidden-info-window-helper" data-bind="with: infoWindowStop">
        <div style="min-height: 150px; width: 250px; overflow: scroll">
            <h5 data-bind="text: name"></h5>
            <p data-bind="text: description"></p>
        </div>
        <div data-bind="visible: $root.showEditTourPage">
            <a href="#" class="trash-stop-from-tour" data-bind="click: $root.deleteStopFromTripHelper">Delete</a>
        </div>
    </div>
</div>
<% content_for :scripts do %>
    <script type="text/javascript">
        var map,
            raw = {
                tours: <%= @tours.to_json %>,
                stops: <%= @stops.to_json %>
            },
            model;

        function initialize() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(40.7435753309731, -74.02875912059483),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            model = new AppContainer(raw, map);

            ko.applyBindings(model);
            model.init();
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>
