<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                        ace.settings.check('sidebar', 'fixed')
                    } catch (e) {}
            </script>

            <ul class="nav nav-list">
                <li class="targetable">
                    <a href="#home">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text">Home</span>
                    </a>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text">My Tours</span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu" data-bind="">
                        <li>
                            <a href="#tours">
                                <i class="icon-double-angle-right"></i>
                                Manage Tours
                            </a>
                        </li>
                        <li>
                            <a href="#create-tour" data-bind="click: tourContainer.createNewTour">
                                <i class="icon-double-angle-right"></i>
                                Create Tour
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-list"></i>
                        <span class="menu-text">My Stops</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                Create Stop
                            </a>
                        </li>
                        <li>
                            <a href="elements.html">
                                <i class="icon-double-angle-right"></i>
                                Find More Stops
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i>
                                Preview Stop
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i>
                                        Stop 1
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-double-angle-right"></i>
                                Edit Stop
                                <b class="arrow icon-angle-down"></b>
                            </a>

                            <ul class="submenu">
                                <li>
                                    <a href="#">
                                        <i class="icon-leaf"></i>
                                        Stop 1
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text">Groups</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#groups">
                                <i class="icon-double-angle-right"></i>
                                Manage Groups
                            </a>
                        </li>
                        <li>
                            <a href="#create-group">
                                <i class="icon-double-angle-right"></i>
                                Add a group
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text">Users</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="#users">
                                <i class="icon-double-angle-right"></i>
                                Manage Users
                            </a>
                        </li>

                        <li>
                            <a href="#create-user">
                                <i class="icon-double-angle-right"></i>
                                Add a user
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try {
                        ace.settings.check('sidebar', 'collapsed')
                    } catch (e) {}
            </script>
        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                            ace.settings.check('breadcrumbs', 'fixed')
                        } catch (e) {}
                </script>
                <!--
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">Other Pages</a>
                        </li>
                        <li class="active">Blank Page</li>
                    </ul> -->
                <!-- .breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1 data-bind="page: ['', 'home']">Welcome home!</h1>
                    <h1 data-bind="page: 'create-tour'">Create a Tour</h1>
                    <h1 data-bind="page: 'edit-tour'">Manage a Tour</h1>
                    <h1 data-bind="page: 'tours'">Manage Tours</h1>
                    <h1 data-bind="page: 'preview-tour'">Preview Tour</h1>
                    <h1 data-bind="page: 'users'">Manage Users</h1>
                    <h1 data-bind="page: 'create-user'">Create a User</h1>
                    <h1 data-bind="page: 'groups'">Manage Groups</h1>
                    <h1 data-bind="page: 'create-group'">Create a Group</h1>
                </div>
                <div class="row" data-bind="page: ['', 'home']">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>How to add a trip</h2>
                                <p>We'll think of some text here explaining how to user Core.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>How to add a stop</h2>
                                <p>We'll think of some text here explaining how to user Core.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Managing Users</h2>
                                <p>We'll think of some text here explaining how to user Core.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="page: ['create-tour', 'edit-tour', 'preview-tour'], onVisible: refresh">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6" data-bind="page: 'create-tour', onVisible: tourContainer.createTour">
                                <form role="form" class="form-horizontal" action="#tours" method="get">
                                    <div class="form-group">
                                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="col-xs-12 col-sm-12" placeholder="My New Tour" data-bind="value: tourContainer.newTourName">
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="" placeholder="Tell us about your tour" data-bind="value: tourContainer.newTourDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Stops</label>
                                        <div class="col-sm-9 col-sm-offset-1">
                                            <ul class="item-list" data-bind="sortable: tourContainer.newTourList">
                                                <li class="item-blue clearfix">
                                                    <label class="inline" data-bind="text: name"></label>
                                                    <div class="pull-right action-buttons">
                                                        <a href="#" class="red" data-bind="click: $parent.tourContainer.listToPool">
                                                            <i class="icon-trash bigger-130"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-3" data-bind="foreach: tourContainer.newTourPool">
                                            <span class="label clickable" data-bind="click: $parent.tourContainer.poolToList, text: name"></span>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label data-bind="click: tourContainer.toggleNewVisibility">
                                                <input type="checkbox" class="ace" data-bind="checked: tourContainer.newTourVisibility" />
                                                <span class="lbl">This tour is visible to the public.</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="clearfix form-actions">
                                        <div class="col-md-9">
                                            <button class="btn btn-info" type="submit" data-bind="click: tourContainer.saveTour">
                                                <i class="icon-ok bigger-110"></i>
                                                Create Tour
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6" data-bind="page: 'edit-tour', onVisible: tourContainer.edit, with: tourContainer.focusedTour">
                            </div>
                            <div class="col-sm-6" data-bind="page: 'preview-tour', onVisible: tourContainer.preview, onHide: tourContainer.hidePreview, with: tourContainer.focusedTour">
                                <h3 data-bind="text: name"></h3>
                                <p data-bind="text: description"></p>
                                <ol data-bind="foreach: stops">
                                    <li data-bind="text: name"></li>
                                </ol>
                            </div>
                            <div class="col-sm-6">
                                <div id="map-canvas"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-bind="page: 'tours'">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Stops</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: tourContainer.tours">
                                <tr>
                                    <td><a data-bind="text: name, attr: {href: '#preview-tour/' + id()} "></a></td>
                                    <td data-bind="text: description"></td>
                                    <td data-bind="text: stops().length"></td>
                                    <td>
                                        <a class="btn btn-xs btn-info" data-bind="attr: {href: '#edit-tour/' + id()}">
                                            <i class="icon-edit bigger-120"></i>
                                        </a>
                                        <button class="btn btn-xs btn-danger">
                                            <i class="icon-trash bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-bind="page: 'users'">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Group</th>
                                    <th>Account Type</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: userContainer.users">
                                <tr>
                                    <td data-bind="text: email"></td>
                                    <td data-bind="text: groupName"></td>
                                    <td data-bind="text: role"></td>
                                    <td>
                                        <button class="btn btn-xs btn-info">
                                            <i class="icon-edit bigger-120"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger">
                                            <i class="icon-trash bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-bind="page: 'create-user', onVisible: userContainer.createUser">
                    <div class="col-xs-12">
                        <form role="form" class="form-horizontal" action="#users" method="get">
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="col-xs-10 col-sm-5" placeholder="email@domain.com" data-bind="value: userContainer.newEmail">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="col-xs-10 col-sm-5" data-bind="value: userContainer.newPassword">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Password (Confirm)</label>
                                <div class="col-sm-9">
                                    <input type="password" class="col-xs-10 col-sm-5" placeholder="" data-bind="value: userContainer.newPasswordConfirm">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right">Permission</label>
                                <div class="col-sm-5">
                                    <select class="form-control col-xs-10 col-sm-5 width-80" id="form-field-select-1" data-bind="value: userContainer.newPermission">
                                        <option value="0">Deactivated</option>
                                        <option value="1">Editor</option>
                                        <option value="2">Builder</option>
                                        <option value="3">Group Admin</option>
                                        <option value="4">Site Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right">Group</label>
                                <div class="col-sm-5">
                                    <select class="form-control col-xs-10 col-sm-5 width-80" id="form-field-select-1" data-bind="options: userContainer.groups, optionsCaption: 'No Group', optionsValue: 'id', optionsText: 'name', value: userContainer.newGroup">
                                        <option value="0">Deactivated</option>
                                        <option value="1">Editor</option>
                                        <option value="2">Builder</option>
                                        <option value="3">Group Admin</option>
                                        <option value="4">Site Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-9">
                                    <button class="btn btn-info" type="submit" data-bind="click: userContainer.saveUser">
                                        <i class="icon-ok bigger-110"></i>
                                        Create User
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" data-bind="page: 'groups'">
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: userContainer.groups">
                                <tr>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: description"></td>
                                    <td>
                                        <button class="btn btn-xs btn-info">
                                            <i class="icon-edit bigger-120"></i>
                                        </button>
                                        <button class="btn btn-xs btn-danger">
                                            <i class="icon-trash bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-bind="page: 'create-group', onVisible: userContainer.createGroup">
                    <div class="col-xs-12">
                        <form role="form" class="form-horizontal" action="#groups" method="get">
                            <div class="form-group">
                                <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Group Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" placeholder="Group Name" data-bind="value: userContainer.newGroupName">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right">About the group</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control" id="" placeholder="About your group" data-bind="value: userContainer.newGroupDescription"></textarea>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-9">
                                    <button class="btn btn-info" type="submit" data-bind="click: userContainer.saveGroup">
                                        <i class="icon-ok bigger-110"></i>
                                        Create Group
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.main-content -->
    </div>
    <!-- /.main-container-inner -->
</div>
<!-- /.main-container -->

<% content_for :scripts do %>
    <script type="text/javascript">
        var map,
            model;

        function initialize() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(40.7435753309731, -74.02875912059483),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            model = new AppContainer(map);

            ko.applyBindings(model);            
            model.init();
        }
        
        function refresh() {
            google.maps.event.trigger(map, 'resize');            
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <% end %>
