<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li class="targetable">
                    <a href="#/home">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text">Home</span>
                    </a>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-desktop"></i>
                        <span class="menu-text">My Tours</span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#/tours">
                                <i class="icon-double-angle-right"></i>
                                Manage Tours
                            </a>
                        </li>
                        <li>
                            <a href="#/tours/new">
                                <i class="icon-double-angle-right"></i>
                                Create Tour
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-list"></i>
                        <span class="menu-text">My Stops</span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#/stops">
                                <i class="icon-double-angle-right"></i>
                                Manage Stops
                            </a>
                        </li>
                        <li>
                            <a href="#/stops/new">
                                <i class="icon-double-angle-right"></i>
                                Create Stop
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text">Groups</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="#/groups">
                                <i class="icon-double-angle-right"></i>
                                Manage Groups
                            </a>
                        </li>
                        <li>
                            <a href="#/groups/new">
                                <i class="icon-double-angle-right"></i>
                                Add a group
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="targetable">
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-edit"></i>
                        <span class="menu-text">Users</span>

                        <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="#/users">
                                <i class="icon-double-angle-right"></i>
                                Manage Users
                            </a>
                        </li>

                        <li>
                            <a href="#/users/new">
                                <i class="icon-double-angle-right"></i>
                                Add a user
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>
        </div>

        <div class="main-content" ng-app="core">
            <div class="page-content" ng-view>
            </div>
        </div>
    </div>
</div>

