<div class="page-header">
    <h1>{{ verb }} a Category</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <form role="form" class="form-horizontal" action="" method="get" ng-submit="saveCategory()">
            <div class="row">
                <div class="col-xs-9">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Category Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="col-xs-10 col-sm-5" placeholder="Category Name" ng-model="name">
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right">Upload Image</label>
                        <div class="col-sm-9">
                            <base64-file-uploader output="fileData"></base64-file-uploader>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label for="form-field-select-3" class="col-sm-3 control-label no-padding-right">About the category</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" id="" placeholder="About your category" ng-model="description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <img ng-src="{{ getIconSrc() }}" />
                </div>
            </div>
            <div class="alert alert-danger" ng-repeat="error in errorList">
                <strong>
                    We couldn't submit that!
                </strong>
                {{ error }}
                <br>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-9">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        {{ verb }} Category
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
