<div class="page-header">
    <h1>Welcome home!</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-6">
                <h2>Creating a Stop</h2>
                <p>The first thing you'll want to do is to create a stop. Creating some stops will allow you to create your first tour.</p>
                <p>In order to create a stop, you're going to need:</p>
                <ul>
                    <li>A name</li>
                    <li>A description</li>
                    <li>Either:
                        <ul>
                            <li>An Address</li>
                            <li>Latitutude and longitude coordinates</li>
                        </ul>
                    </li>
                    <li><a href="#/categories">Some categories</a></li>
                </ul>
                <p>After you create your stop, you can start adding photos to it from the stop edit page!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2>Creating a Tour</h2>
                <p>Adding a trip is just as easy as creating a stop!</p>
                <p>Once you have some stops, you're going to want to start organizing them into tours. For that, you're going to need:</p>
                <ul>
                    <li>A name</li>
                    <li>A description</li>
                    <li>Some stops</li>
                </ul>
                <p>While building a tour, you can drag your map to set the 'center' of your tour. When someone loads up that tour, they'll see it centered there.</p>
                <p>Not able to finish your tour in time? You can always just save the tour and set the tour to not be visible yet -- this will mean that you and your editors will be able to keep working on the tour, but user's won't see it until you're ready.</p>
            </div>
        </div>
    </div>
</div>