<div class="page-header">
    <h1>Preview a Stop</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-6">
            <h3>{{ name }}</h3>
            <p>{{ description }}</p>
        </div>
        <google-map ng-if="loaded" class="col-sm-6" center='map.center' zoom='map.zoom' draggable="true" options="{ mapTypeControl: false }">
            <marker coords='stop.center' icon='categories[0].icon_base64'>
                <window>
                    <div class="infowindow">
                        <h5>{{ name }}</h5>
                        <p>{{ description }}</p>
                    </div>
                </window>
            </marker>
        </google-map>
    </div>
</div>
